<section class="projects">
    <div class="project_title">
        <h2>PROYECTOS</h2>
    </div>

    <div class="container_project">
        <div class="logo_project">
            <img src="https://www.concordia.gob.ar/sites/all/themes/programar/images/arg-programa.png" alt="" class="project_img">
        </div>
        <div class="text_project">
            <h3 class="text_project_title">Portfolio Web</h3>
            <p class="project_fecha">2022-08-22</p>
            <p class="project_description">Portfolio Web FrontEnd desarrollado con HTML, CSS y JS. Tarea para el curso Argentina Programa (#YoProgramo).</p>
            <a href="index.html" class="project_link">Link del Proyecto</a>
        </div>
    </div>
</section>