<section class="education">
    <div class="education_title">
        <h2>EDUCACIÓN</h2>
    </div>

    <div class="container_education">
        <div class="logo_education">
            <img [src]="principalEducation.escuela.imagen" alt="">
        </div>
        <div class="text_education">
            <h3 class="text_title">{{principalEducation.escuela.nombre}}</h3>
            <p class="carrera">{{principalEducation.escuela.carrera}}</p>
            <h4 class="fecha">{{principalEducation.escuela.duracion}}</h4>
            <p class="p_education">{{principalEducation.escuela.descripcion.primera}}</p>
            <p class="p_education">{{principalEducation.escuela.descripcion.segunda}}</p>
            <p class="p_education">{{principalEducation.escuela.descripcion.tercera}} <span class="languages">{{principalEducation.escuela.descripcion.lenguajes}}</span> </p>
        </div>
    </div>
</section>