<section class="skills">
    <div class="skills_title">
        <h2>SKILLS</h2>
    </div>

    <div class="skills_items">
        <div class="item">
            <p>HTML5</p>
            <p class="porcentaje_html">70%</p>
            <div class="bar_html"></div>
        </div>
        <div class="item">
            <p>CSS3</p>
            <p class="porcentaje_css">80%</p>
            <div class="bar_css"></div>
        </div>
        <div class="item">
            <p>JavaScript</p>
            <p class="porcentaje_js">60%</p>
            <div class="bar_js"></div>
        </div>
    </div>
</section>